#wrap{
    width:520px;
    height:520px;
    margin:0 auto;
}

.attendFont{
    color:red;
}

#mainArea{
    width:480px;
    height:500px;
    margin:0 auto;
    background:url('./img/road.gif') repeat-y;
    overflow: hidden;
    position: relative;
}

#otherElement{
    position:absolute;
    left:-99999px;
    top:-999999px;
}

.enemCar{
    position: absolute;
}

.elemCar{
    position: relative;
}
